<h2>{{WelcomeText}}</h2>
	<div id="topMenu">
		<fieldset id="person">
			<legend>Person Data</legend>
			<form>
				<label for="addName">Name:</label>
				<input type="text" ng-model="name" name="addName"><br />
				<label for="addAddress">Address:</label>
				<input type="text" ng-model="address" name="addAddress"><br />
				<button ng-click="addPerson()"><i class="icon-plus"></i>Add Contact</button>
			</form>
		</fieldset>
		<fieldset id="query">
			<legend>Query</legend>
			<form>
				<label for="searchQuery"><i class="icon-search"></i>Search :
				</label><input type="text" ng-model="searchQuery" name="searchQuery">
				<br /><br />
				 Sort By <input type="radio" name="sort" ng-model="sortName"> Name 
				<input type="radio" name="sort" ng-model="sortAdd"> Address
			</form>
		</fieldset>
	</div>
	<div id="mainContent">
		<fieldset id="addressBook">
			<legend>Address Book</legend>
			<ul>
				<li ng-repeat="person in persons | filter:searchQuery">
					{{person.name}}
					<hr />
					{{person.address}}
					<br /> 
					<button ng-click="removePerson(person)"><i class="icon-minus"></i>Delete</button>
				</li>
			</ul>
		</fieldset>
</div>
